.talk {
    background-color: $bgColor;
    position: relative;

    // .talk__container
    &__container {
        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptiveValue("gap", 100, 30);
        }
    }

    // .talk__content
    &__content {
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding-top", 165, 40);
        @include adaptiveValue("padding-bottom", 105, 40);

        &::before {
            content: "";
            background: url("../img/talk/decor.svg") 0 0 / 83% no-repeat;
            width: 100%;
            aspect-ratio: 581 / 44;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    // .talk__block-header
    &__block-header {
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    // .talk__done
    &__done {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }

    // .talk__image
    &__image {
        img {
            max-width: 100%;
        }

        @media (min-width: $tablet) {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptiveValue("gap", 100, 30);

            img {
                grid-column: 2 / 3;
                justify-self: end;
            }
        }
    }
}