<section class="about">
    <div class="about__container">
        <div class="about__body">
            <div class="about__block-header block-header">
                <h2 class="block-header__title">
                    Professional for your home services
                </h2>
                <div class="block-header__text">
                    <p>
                        You need help for home care? We are home care professionals focused in the US region. We provide
                        several
                        services that support home services
                    </p>
                </div>
            </div>
            <ul class="about__items">
                <li class="about__item">Repair and Installation</li>
                <li class="about__item">Maintenance</li>
                <li class="about__item">Home Security Services</li>
                <li class="about__item">Plumbing</li>
                <li class="about__item">Budget-friendly</li>
                <li class="about__item">Eco-friendly solutions</li>
            </ul>
            <div class="about__info">
                We already 24 hours fast services to help you. You can contact us at <a href="tel:8886175894">
                    (888)&nbsp;
                    617-5894</a>
            </div>
        </div>
        <div class="about__image">
            <img src="img/about/Image.jpg" alt="Image">
        </div>
    </div>
</section>