<section data-watch="navigator" data-watch-threshold="0.3" class="blog">
    <div class="blog__container">
        <div class="blog__block-header block-header  block-header--center">
            <h2 class="block-header__title">
                Explore Insights in Our Blog
            </h2>
            <div class="block-header__text">
                <p>
                    Find lots of insights and information on our blog. Explore, learn, and get inspired today.
                </p>
            </div>
        </div>

        <div class="blog__items" id="blogItems"></div>
        <button class="blog__view-more" type="button">Viev More</button>
    </div>
</section>