<section data-watch class="how">
    <div class="how__container">
        <div class="how__image">
            <img src="img/how/worker.jpg" alt="worker">
        </div>
        <div class="how__content">

            <div class="how__block-header block-header">
                <h2 class="block-header__title">
                    How HomePro works?
                </h2>
            </div>
            <ol class="how__list list-how">
                <li class="list-how__item">
                    <span class="list-how__title">Call us anytime 24/7</span>
                    <span class="list-how__text text">You can contact us directly, we will quickly put you in touch with
                        our
                        home care professionals who are ready anytime</span>
                </li>
                <li class="list-how__item">
                    <span class="list-how__title">Schedule Service</span>
                    <span class="list-how__text text">After connecting your call, our home care experts will answer your
                        questions and provide flexible appointment times</span>
                </li>
                <li class="list-how__item">
                    <span class="list-how__title">Your request is complated</span>
                    <span class="list-how__text text">Once your technician arrives, he will diagnose the problem and
                        provide
                        an estimate. If you decide to continue, the technician will get to work</span>
                </li>
            </ol>
        </div>
    </div>
</section>