<section data-watch class="questions">
    <div class="questions__container">
        <div class="questions__block-header block-header ">
            <h2 class="block-header__title">
                Frequently Asked Questions
            </h2>
            <div class="block-header__text">
                <p>
                    Still need help? <a href="#">Get Help Now</a>
                </p>
            </div>
        </div>
        <div data-spollers data-one-spoller class="questions__spollers spollers-questions">
            <details data-open class="spollers-questions__item">
                <summary class="spollers-questions__title">What is HomePro?</summary>
                <div class="spollers-questions__body">HomePro is a home care platform that connects homeowners with
                    professional service providers offering a wide range of home services, including repairs,
                    maintenance, cleaning, and more.</div>
            </details>
            <details class="spollers-questions__item">
                <summary class="spollers-questions__title">Are the service providers on HomePro reliable and qualified?
                </summary>
                <div class="spollers-questions__body">HomePro is a home care platform that connects homeowners with
                    professional service providers offering a wide range of home services, including repairs,
                    maintenance, cleaning, and more.</div>
            </details>
            <details class="spollers-questions__item">
                <summary class="spollers-questions__title">What if I have an issue or complaint about a service
                    provider?</summary>
                <div class="spollers-questions__body">HomePro is a home care platform that connects homeowners with
                    professional service providers offering a wide range of home services, including repairs,
                    maintenance, cleaning, and more.</div>
            </details>
            <details class="spollers-questions__item">
                <summary class="spollers-questions__title">How are payments handled on HomePro?</summary>
                <div class="spollers-questions__body">HomePro is a home care platform that connects homeowners with
                    professional service providers offering a wide range of home services, including repairs,
                    maintenance, cleaning, and more.</div>
            </details>
            <details class="spollers-questions__item">
                <summary class="spollers-questions__title">How do I leave a review for a service provider?</summary>
                <div class="spollers-questions__body">HomePro is a home care platform that connects homeowners with
                    professional service providers offering a wide range of home services, including repairs,
                    maintenance, cleaning, and more.</div>
            </details>
        </div>
    </div>
</section>