<section data-watch class="reviews">
    <div class="reviews__container">
        <div class="reviews__block-header block-header block-header--center">
            <h2 class="block-header__title">
                Here our original reviews from trusted platform
            </h2>
        </div>
        <div class="reviews__body">
            <div class="reviews__slider swiper">
                <div class="reviews__wrapper swiper-wrapper">
                    <div class="reviews__slide slide-reviews swiper-slide">
                        <div class="slide-reviews__logo">
                            <img src="img/reviews/reviews_logo.jpg" alt="Logo">
                        </div>
                        <div class="slide-reviews__text text">
                            <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned
                                my leaky roof into a stockade. With their craftsmanship and the best materials, my house
                                is now ready to weather any storm.</p>
                        </div>
                        <div class="slide-reviews__user">
                            <div class="slide-reviews__avatar">
                                <img src="img/reviews/avatar.jpg" alt="Image">
                            </div>
                            <div class="slide-reviews__body">
                                <div class="slide-reviews__name">Kende Attila</div>
                                <div class="slide-reviews__rating rating">
                                    <div class="rating__body">
                                        <div class="rating__active"></div>
                                        <div class="rating__items">
                                            <input type="radio" class="rating__item" value="1" name="rating">
                                            <input type="radio" class="rating__item" value="2" name="rating">
                                            <input type="radio" class="rating__item" value="3" name="rating">
                                            <input type="radio" class="rating__item" value="4" name="rating">
                                            <input type="radio" class="rating__item" value="5" name="rating">
                                        </div>
                                    </div>
                                    <div class="rating__value">3.6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slide slide-reviews swiper-slide">
                        <div class="slide-reviews__logo">
                            <img src="../img/reviews/reviews_logo.jpg" alt="Logo">
                        </div>
                        <div class="slide-reviews__text text">
                            <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned
                                my leaky roof into a stockade. With their craftsmanship and the best materials, my house
                                is now ready to weather any storm.</p>
                            <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned
                                my leaky roof into a stockade. With their craftsmanship and the best materials, my house
                                is now ready to weather any storm.</p>
                        </div>
                        <div class="slide-reviews__user">
                            <div class="slide-reviews__avatar">
                                <img src="../img/reviews/avatar.jpg" alt="Image">
                            </div>
                            <div class="slide-reviews__body">
                                <div class="slide-reviews__name">Kende Attila</div>
                                <div class="slide-reviews__rating rating">
                                    <div class="rating__body">
                                        <div class="rating__active"></div>
                                        <div class="rating__items">
                                            <input type="radio" class="rating__item" value="1" name="rating">
                                            <input type="radio" class="rating__item" value="2" name="rating">
                                            <input type="radio" class="rating__item" value="3" name="rating">
                                            <input type="radio" class="rating__item" value="4" name="rating">
                                            <input type="radio" class="rating__item" value="5" name="rating">
                                        </div>
                                    </div>
                                    <div class="rating__value">3.6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slide slide-reviews swiper-slide">
                        <div class="slide-reviews__logo">
                            <img src="../img/reviews/reviews_logo.jpg" alt="Logo">
                        </div>
                        <div class="slide-reviews__text text">
                            <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned
                                my leaky roof into a stockade. With their craftsmanship and the best materials, my house
                                is now ready to weather any storm.</p>
                            <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned
                                my leaky roof into a stockade. With their craftsmanship and the best materials, my house
                                is now ready to weather any storm.</p>
                        </div>
                        <div class="slide-reviews__user">
                            <div class="slide-reviews__avatar">
                                <img src="../img/reviews/avatar.jpg" alt="Image">
                            </div>
                            <div class="slide-reviews__body">
                                <div class="slide-reviews__name">Kende Attila</div>
                                <div class="slide-reviews__rating rating">
                                    <div class="rating__body">
                                        <div class="rating__active"></div>
                                        <div class="rating__items">
                                            <input type="radio" class="rating__item" value="1" name="rating">
                                            <input type="radio" class="rating__item" value="2" name="rating">
                                            <input type="radio" class="rating__item" value="3" name="rating">
                                            <input type="radio" class="rating__item" value="4" name="rating">
                                            <input type="radio" class="rating__item" value="5" name="rating">
                                        </div>
                                    </div>
                                    <div class="rating__value">3.6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="reviews__arrow reviews__arrow--left" type="button"></button>
            <button class="reviews__arrow reviews__arrow--right" type="button"></button>
            <div class="reviews__bullets"></div>
        </div>
    </div>
</section>