<section class="services">
    <div class="services__container">

        <div class="services__block-header block-header  block-header--center">
            <h2 class="block-header__title">
                Our Services
            </h2>
            <div class="block-header__text">
                <p>
                    You have problems with leaking pipes, broken tiles, lost keys or want to tidy up the trees around
                    you, of course you need our help!
                </p>
            </div>
        </div>

        <div class="services__items">
            <article class="services__item item-service">
                <div class="item-service__icon">
                    <img src="img/icons/service-1.svg" alt="icon">
                </div>
                <h4 class="item-service__title">Plumbing services</h4>
                <div class="item-service__text">
                    <p>Drain pipe leaking, pipe clogged, replace the pipe line</p>
                </div>
            </article>
            <article class="services__item item-service">
                <div class="item-service__icon">
                    <img src="img/icons/service-2.svg" alt="icon">
                </div>
                <h4 class="item-service__title">Roofing repairs</h4>
                <div class="item-service__text">
                    <p>Roof leaks, tile replacement, roof cleaning and maintenance</p>
                </div>
            </article>
            <article class="services__item item-service">
                <div class="item-service__icon">
                    <img src="img/icons/service-3.svg" alt="icon">
                </div>
                <h4 class="item-service__title">Mold Removal</h4>
                <div class="item-service__text">
                    <p>Removing and cleaning mildew, Restoration and Prevention</p>
                </div>
            </article>
            <article class="services__item item-service">
                <div class="item-service__icon">
                    <img src="img/icons/service-4.svg" alt="icon">
                </div>
                <h4 class="item-service__title">Tree Trimming</h4>
                <div class="item-service__text">
                    <p>Trimming and cleaning, Deadwood removal, Tree shaping</p>
                </div>
            </article>
            <article class="services__item item-service">
                <div class="item-service__icon">
                    <img src="img/icons/service-5.svg" alt="icon">
                </div>
                <h4 class="item-service__title">Appliance Repair</h4>
                <div class="item-service__text">
                    <p>Repair of washing machines, refrigerators, Air conditioner, etc</p>
                </div>
            </article>
            <article class="services__item item-service">
                <div class="item-service__icon">
                    <img src="img/icons/service-6.svg" alt="icon">
                </div>
                <h4 class="item-service__title">Bathroom Remodeling</h4>
                <div class="item-service__text">
                    <p>Design and Consulting, installation, Repairing, tile repair</p>
                </div>
            </article>
            <article class="services__item item-service">
                <div class="item-service__icon">
                    <img src="img/icons/service-7.svg" alt="icon">
                </div>
                <h4 class="item-service__title">Locksmith</h4>
                <div class="item-service__text">
                    <p>Lock Installation and Repair, Duplication, Lock Rekeying</p>
                </div>
            </article>
            <article class="services__item item-service item-service--blue">
                <h4 class="item-service__title">More service?</h4>
                <div class="item-service__text">
                    <p>You can tell us what you need and we can help! </p>
                </div>
                <a href="#" class="item-service__button button button--fw button--white button--min">Call Us Now</a>
            </article>
        </div>


    </div>
</section>