<section data-watch class="talk">
    <div class="talk__container">
        <div class="talk__content">
            <div class="talk__block-header block-header">
                <h1 class="block-header__title block-header__title--white block-header__title--big">
                    Already to improve or repair your home? Let’s Talk!
                </h1>
            </div>
            <ul class="talk__done done">
                <li class="done__item">Free Quotes</li>
                <li class="done__item">100% Commitment-Free</li>
            </ul>
            <a href="#" class="hero__button button button--icon">
                <span>Call Us Now</span>
            </a>
        </div>
    </div>
    <div class="talk__image">
        <img src="img/talk/talk.png" alt="Image">
    </div>
</section>